.header{ height: 50px; width: 100%; border-bottom: 2px solid #ccc; text-align: center; font-size:24px;}
.footer{ height: 50px; width: 100%; border-top: 2px solid #ccc; text-align: center;}
.login-form{ float: right; margin-top: -20px; }
.error-message{ color: red; font-size: 12px;}