.header{ 
    height: 50px; 
    width: 100%; 
    border-bottom: 2px solid #ccc; 
    text-align: center; 
    font-size:24px;
}
.footer{ 
    height: 50px; 
    width: 100%; 
    border-top: 2px solid #ccc; 
    text-align: center;
}

.auth-area{ 
    float: right; 
    margin-top: 20px; 
}

.reg-link{ 
    float: right; 
    font-size: 16px; 
    
}

.error{ 
    float: right; 
    color: red; 
    font-size: 15px; 
     text-align: right;
     
}

.ok{ 
    float: right; 
    color: green; 
    font-size: 12px;
    text-align: right;
    margin-top: 20px; 
}