html,body{font-size: 14px;}
.header{ height: 55px; width: 100%; border-bottom: 2px solid #ccc; }
.title{font-size: 24px;}
.footer{ height: 50px; width: 100%; border-top: 2px solid #ccc; text-align: center;}
.auth-area{ float: right;}
.error{color: red;}
.reg_link{float: right;}