Redirect /news_project/src /news_project



RewriteEngine on

RedirectMatch 301 http://student03.study.cloud-pro.ru/news_project/1/ http://student03.study.cloud-pro.ru/news_project/

RewriteRule news_project/([2-9]+[0-9]*)([/]?)$ news_project/news/index.php?id=$1 [L]





DirectoryIndex index.php

ErrorDocument 404 /news_project/404.php

AddDefaultCharset UTF-8